apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: quarkus-component
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: quarkus-component
    app.kubernetes.io/part-of: blue-dolphin
  name: quarkus-component
  namespace: pdave
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: quarkus-component
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: quarkus-component
    spec:
      containers:
      - env:
        - name: DEBUG_PORT
          value: "5858"
        image: quay.io/redhat-appstudio/user-workload:pdave-quarkus-component
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
        name: container-image
        ports:
        - containerPort: 8080
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 8080
        resources:
          requests:
            cpu: 200m
            memory: 512Mi
status: {}
